
.bmi-up {
  max-width: 50rem;
  margin: 3rem auto;
}
.bmi-title-container {
  width: 60%;
  margin: 1rem auto;
}

.bmi-title-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.bmi-title-container p {
  color: rgba(255, 255, 255, 0.5);
}


.bmi-down {
  background-color: #222222;
  padding: 1rem 0;
}

.bmi-section {
 max-width: 65.25rem;
 margin: 1rem auto;
}



.bmi-main-section table {
  margin-top: 1rem;
  width: 100%;
  height: 80%;
  border-collapse: collapse;
}



.bmi-main-section {
  justify-content: space-between;
  margin: 0rem 1rem;
}

.bmi-chart-container {
  width: 35%;
}
.bmi-chart-container td, th {
padding: 1rem;
}

.bmi-calculator-container {

  width: 60%;

}

.bmi-calculator-container h2 {
 font-size: 1.5rem;
 margin-bottom: 0.7rem;
}

.bmi-calculator-container p {
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.5);
}

.bmi-section .bmi-calculator-container input, select {
background: transparent;
background-color: rgba(255, 255, 255, 0.1);
padding: 1rem;
border-radius: 0.5rem;
border: none;

&::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

}

.bmi-cal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.bmi-cal select {
  color: rgba(255, 255, 255, 0.5);
}

#third {
  grid-column: span 2;
}

.cal-btn {
  padding: 1rem 3rem;
}