@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&display=swap');

body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

/* Shared Styles */
.display-flex {
  display: flex;
}


/* For Easy Responsive */
header {
  /* display: none; */
}
main .change-habit-section, 
.run-section, 
.team-section,
.bmi-up,
.bmi-down {
  /* display: none; */
}

footer {
  /* display: none; */
}





/* Header Style */
header {
  background-image: linear-gradient(180deg, black, rgba(103, 103, 103, 0.391), black);
  /* border: 1px solid red; */
}



/* Navbar Styles */
nav {
  max-width: 65.25rem;
  margin: 2rem auto;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: #E6533C;
  font-size: 2rem;
  font-style: italic;
  margin-left: 1rem;
}

.nav-items {
  border: 0.1rem solid rgb(115, 115, 115);
  padding: 0.7rem 0.2rem;
  border-radius: 1.5rem;
  margin-right: 1rem;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 0.7rem;
  border-radius: 1.5rem;
}

nav ul a:hover {
  background-color: #E6533C;
}

#home {
  background-color: #E6533C;
}

nav ul li {
  list-style: none;
}

nav ul {
  gap: 2rem;
}

.ham-menubar {
  width: 1.5rem;
  display: none;
}

.ham-menubar-img {
  width: 100%;
}

